.box {
    background-color: rgba(127, 255, 212, 0);
   
    display: flex;
    justify-content: flex-end;   
    
  }

  .box select {
    border: 1px;
    border-color: white;
    border-style: solid;
    height: 2.5em;
  }
 