.background{
    background-color: rgb(25, 4, 44);
    /* background-color: rgb(9, 9, 58); */
    background-size: cover;
    background-position: center;
    height: 100vh;  
    position: relative;
    z-index: 1;
    
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    margin: auto;    
  }