.containerLogo {
  background-color: rgba(153, 205, 50, 0);
  width: 200px;
  height: 200px;
  position: absolute; /* Usa absolute para que no afecte al flujo de otros elementos */
  top: 0;
  left: 0;
 
}

.containerLogo.fixed {
  position: fixed;
}

.logoImg {
  width: 100%; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 100%;
}

/* Otros estilos según sea necesario */
