body{
    background-color:rgb(40, 25, 80);
    background-size: cover;
    position: relative;
    z-index: 1;    
}

.containerWrapper{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column; /* Stacking items vertically */
    align-items: center; /* Centering items horizontally */
    
}

.containerpag{
    /* position: absolute; */
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;  
    margin-top: 30px;
    margin-bottom: 45px;
}

