.arrow{
    position: fixed;
    bottom: 1rem; 
    right: 1rem;
    background-color: #a963e2; 
    color: white;
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    cursor: pointer;
}